<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working in IBM Cloud Watson Studio, please replace the command for installing nbformat from `!pip install nbformat==4.2.0` to simply `!pip install nbformat`

In [33]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
#!pip install nbformat==4.2.0
!pip3 install nbformat==5.1.3

Requirement already satisfied: yfinance==0.1.67 in /home/deivith/anaconda3/lib/python3.9/site-packages (0.1.67)
Requirement already satisfied: requests>=2.20 in /home/deivith/anaconda3/lib/python3.9/site-packages (from yfinance==0.1.67) (2.26.0)
Requirement already satisfied: pandas>=0.24 in /home/deivith/anaconda3/lib/python3.9/site-packages (from yfinance==0.1.67) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /home/deivith/anaconda3/lib/python3.9/site-packages (from yfinance==0.1.67) (1.20.3)
Requirement already satisfied: lxml>=4.5.1 in /home/deivith/anaconda3/lib/python3.9/site-packages (from yfinance==0.1.67) (4.6.4)
Requirement already satisfied: multitasking>=0.0.7 in /home/deivith/anaconda3/lib/python3.9/site-packages (from yfinance==0.1.67) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/deivith/anaconda3/lib/python3.9/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/deivith/anaconda3/lib/python3.9/site-packages (from pandas>=0.24->yfinance==0.1.67) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /home/deivith/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/deivith/anaconda3/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/deivith/anaconda3/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/deivith/anaconda3/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/deivith/anaconda3/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (3.2)
/bin/bash: lÃ­nea 1: mamba: orden no encontrada
Collecting nbformat==5.1.3
  Using cached nbformat-5.1.3-py3-none-any.whl (178 kB)
Requirement already satisfied: jupyter-core in /home/deivith/anaconda3/lib/python3.9/site-packages (from nbformat==5.1.3) (4.8.1)
Requirement already satisfied: ipython-genutils in /home/deivith/anaconda3/lib/python3.9/site-packages (from nbformat==5.1.3) (0.2.0)
Requirement already satisfied: traitlets>=4.1 in /home/deivith/anaconda3/lib/python3.9/site-packages (from nbformat==5.1.3) (5.1.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/deivith/anaconda3/lib/python3.9/site-packages (from nbformat==5.1.3) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in /home/deivith/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==5.1.3) (21.2.0)
Requirement already satisfied: six>=1.11.0 in /home/deivith/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==5.1.3) (1.16.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/deivith/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==5.1.3) (0.18.0)
Requirement already satisfied: setuptools in /home/deivith/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==5.1.3) (58.0.4)
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 4.2.0
    Uninstalling nbformat-4.2.0:
      Successfully uninstalled nbformat-4.2.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
Successfully installed nbformat-5.1.3

In [4]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [5]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [6]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [60]:
#tesla_revenue[tesla_revenue.Date <= "2021-04-30"]

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [7]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [8]:
tesla_data = tesla.history(period="max")
print(tesla_data)

                  Open        High         Low       Close     Volume  \
Date
2010-06-29    1.266667    1.666667    1.169333    1.592667  281494500
2010-06-30    1.719333    2.028000    1.553333    1.588667  257806500
2010-07-01    1.666667    1.728000    1.351333    1.464000  123282000
2010-07-02    1.533333    1.540000    1.247333    1.280000   77097000
2010-07-06    1.333333    1.333333    1.055333    1.074000  103003500
...                ...         ...         ...         ...        ...
2024-01-11  230.570007  230.929993  225.369995  227.220001  105873600
2024-01-12  220.080002  225.339996  217.149994  218.889999  122889000
2024-01-16  215.100006  223.490005  212.179993  219.910004  115355000
2024-01-17  214.860001  215.669998  212.009995  215.550003  103164400
2024-01-18  216.880005  217.449997  208.740005  211.929993   93396961

            Dividends  Stock Splits
Date
2010-06-29          0           0.0
2010-06-30          0           0.0
2010-07-01          0           0.0
2010-07-02          0           0.0
2010-07-06          0           0.0
...               ...           ...
2024-01-11          0           0.0
2024-01-12          0           0.0
2024-01-16          0           0.0
2024-01-17          0           0.0
2024-01-18          0           0.0

[3412 rows x 7 columns]

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [9]:
tesla_data.reset_index(inplace=True)

In [37]:
print(tesla_data.head())

        Date      Open      High       Low     Close     Volume  Dividends  \
0 2010-06-29  1.266667  1.666667  1.169333  1.592667  281494500          0
1 2010-06-30  1.719333  2.028000  1.553333  1.588667  257806500          0
2 2010-07-01  1.666667  1.728000  1.351333  1.464000  123282000          0
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   77097000          0
4 2010-07-06  1.333333  1.333333  1.055333  1.074000  103003500          0

   Stock Splits
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [10]:
urlT = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

Parse the html data using `beautiful_soup`.

In [11]:
he = {"Content-Type":"application/json"}
rT = requests.get(urlT).text
#print(rT)

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [12]:
soupT = BeautifulSoup(rT)
#print(soupT)

In [12]:
t1.find("tbody").find_all("tr")[0]

NameError: name 't1' is not defined

In [13]:
t1 = soupT.find_all("table")[1]
i = 0
print(type(t1.find("tbody").find_all("tr")))
tesla_revenue = pd.DataFrame()
for rows in t1.find("tbody").find_all("tr"):
    col=(rows.find_all("td"))
    date = col[0].text
    value = col[1].text
    tesla_revenue = tesla_revenue.append({"Date":date,"Revenue":value},ignore_index=True)

<class 'bs4.element.ResultSet'>

In [14]:
tesla_revenue

          Date  Revenue
0   2022-09-30  $21,454
1   2022-06-30  $16,934
2   2022-03-31  $18,756
3   2021-12-31  $17,719
4   2021-09-30  $13,757
5   2021-06-30  $11,958
6   2021-03-31  $10,389
7   2020-12-31  $10,744
8   2020-09-30   $8,771
9   2020-06-30   $6,036
10  2020-03-31   $5,985
11  2019-12-31   $7,384
12  2019-09-30   $6,303
13  2019-06-30   $6,350
14  2019-03-31   $4,541
15  2018-12-31   $7,226
16  2018-09-30   $6,824
17  2018-06-30   $4,002
18  2018-03-31   $3,409
19  2017-12-31   $3,288
20  2017-09-30   $2,985
21  2017-06-30   $2,790
22  2017-03-31   $2,696
23  2016-12-31   $2,285
24  2016-09-30   $2,298
25  2016-06-30   $1,270
26  2016-03-31   $1,147
27  2015-12-31   $1,214
28  2015-09-30     $937
29  2015-06-30     $955
30  2015-03-31     $940
31  2014-12-31     $957
32  2014-09-30     $852
33  2014-06-30     $769
34  2014-03-31     $621
35  2013-12-31     $615
36  2013-09-30     $431
37  2013-06-30     $405
38  2013-03-31     $562
39  2012-12-31     $306
40  2012-09-30      $50
41  2012-06-30      $27
42  2012-03-31      $30
43  2011-12-31      $39
44  2011-09-30      $58
45  2011-06-30      $58
46  2011-03-31      $49
47  2010-12-31      $36
48  2010-09-30      $31
49  2010-06-30      $28
50  2010-03-31      $21
51  2009-12-31
52  2009-09-30      $46
53  2009-06-30      $27

In [15]:
listTaTes = pd.read_html(rT)
#print(listTaTes)

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [15]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [16]:
tesla_revenue

          Date Revenue
0   2022-09-30   21454
1   2022-06-30   16934
2   2022-03-31   18756
3   2021-12-31   17719
4   2021-09-30   13757
5   2021-06-30   11958
6   2021-03-31   10389
7   2020-12-31   10744
8   2020-09-30    8771
9   2020-06-30    6036
10  2020-03-31    5985
11  2019-12-31    7384
12  2019-09-30    6303
13  2019-06-30    6350
14  2019-03-31    4541
15  2018-12-31    7226
16  2018-09-30    6824
17  2018-06-30    4002
18  2018-03-31    3409
19  2017-12-31    3288
20  2017-09-30    2985
21  2017-06-30    2790
22  2017-03-31    2696
23  2016-12-31    2285
24  2016-09-30    2298
25  2016-06-30    1270
26  2016-03-31    1147
27  2015-12-31    1214
28  2015-09-30     937
29  2015-06-30     955
30  2015-03-31     940
31  2014-12-31     957
32  2014-09-30     852
33  2014-06-30     769
34  2014-03-31     621
35  2013-12-31     615
36  2013-09-30     431
37  2013-06-30     405
38  2013-03-31     562
39  2012-12-31     306
40  2012-09-30      50
41  2012-06-30      27
42  2012-03-31      30
43  2011-12-31      39
44  2011-09-30      58
45  2011-06-30      58
46  2011-03-31      49
47  2010-12-31      36
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27

Execute the following lines to remove an null or empty strings in the Revenue column.

In [17]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [36]:
tesla_revenue.head()

         Date Revenue
0  2022-09-30   21454
1  2022-06-30   16934
2  2022-03-31   18756
3  2021-12-31   17719
4  2021-09-30   13757

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [19]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [20]:
rG = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [21]:
gme_data = rG.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [22]:
gme_data.reset_index(inplace=True)

In [38]:
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data`.

In [23]:
html_data="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

Parse the html data using `beautiful_soup`.

In [24]:
rG = requests.get(html_data,"html5lib").text
soupG = BeautifulSoup(rG)

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [25]:
listTa = soupG.find_all("table")
tt1 = listTa[1]

In [26]:
i = 0
gmedf = pd.DataFrame()
for row in tt1.find("tbody").find_all("tr"):
    col = row.find_all("td")
    data = col[0].text
    value = col[1].text
    gmedf = gmedf.append({"Date":data,"Revenue":value},ignore_index=True)

In [27]:
gmedf["Revenue"] = gmedf["Revenue"].str.replace(",|\$","")

In [28]:
gmedf.dropna(inplace=True)
gmedf = gmedf[gmedf["Revenue"]!=""]

In [29]:
gmedf

          Date Revenue
0   2020-04-30    1021
1   2020-01-31    2194
2   2019-10-31    1439
3   2019-07-31    1286
4   2019-04-30    1548
..         ...     ...
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

[62 rows x 2 columns]

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [30]:
gme_revenue = gmedf
gmedf.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [54]:
tesla_revenue.Date

0     2022-09-30
1     2022-06-30
2     2022-03-31
3     2021-12-31
4     2021-09-30
5     2021-06-30
6     2021-03-31
7     2020-12-31
8     2020-09-30
9     2020-06-30
10    2020-03-31
11    2019-12-31
12    2019-09-30
13    2019-06-30
14    2019-03-31
15    2018-12-31
16    2018-09-30
17    2018-06-30
18    2018-03-31
19    2017-12-31
20    2017-09-30
21    2017-06-30
22    2017-03-31
23    2016-12-31
24    2016-09-30
25    2016-06-30
26    2016-03-31
27    2015-12-31
28    2015-09-30
29    2015-06-30
30    2015-03-31
31    2014-12-31
32    2014-09-30
33    2014-06-30
34    2014-03-31
35    2013-12-31
36    2013-09-30
37    2013-06-30
38    2013-03-31
39    2012-12-31
40    2012-09-30
41    2012-06-30
42    2012-03-31
43    2011-12-31
44    2011-09-30
45    2011-06-30
46    2011-03-31
47    2010-12-31
48    2010-09-30
49    2010-06-30
50    2010-03-31
52    2009-09-30
53    2009-06-30
Name: Date, dtype: object

In [1]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

NameError: name 'make_graph' is not defined

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [34]:
make_graph(gme_data, gme_revenue, 'GameStop')

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [35]:
!nbformat --version

/bin/bash: lÃ­nea 1: nbformat: orden no encontrada

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>

<p>